body{
    height: 100vh;
    background-color: #000;
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20231006/pngtree-retro-style-paper-texture-image_13597766.png);
    background-size: cover;
    background-position: center;
}
.about{
    padding: 4.5rem 0;
}
.about-text{
    margin: 2rem 0;
}
.about-text p{
    font-size: 1.1rem;
    padding: 0.6rem 0;
    opacity: 0.8;
}
.title {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.back-button-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.back-button{
    text-decoration: none;
    color: black;
}

